<html ng-app>
	<head>
		<title>Anytime, Anywhere</title>
		<link rel="stylesheet" href="assets/css/mobiscroll-2.3.1.custom.min.css">
		<link rel="stylesheet" href="assets/css/jquery.slider.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body ng-controller="tzController">
		<div class="container">
			<!-- <div class='added-homecity-block'>
				<div class='city-name'>{{homeCity.city}} <div class="pull-right country-label">India, ASIA</div><br><div class="gmt-label pull-right">GMT + 5:30</div></div>
			</div> -->
			<div id="added-timezone-blocks" class="clear added-timezone-blocks">
				<div id="scroller">
					<div class="added-timezone-block clear" ng-repeat="myCity in myPlaces">
						<div class="city-name" ng-click="selectHomeCity(item)">{{myCity.city}}<div class="pull-right time-block">{{myCity.stime}} - {{myCity.etime}}</div><div class="clear"></div></div>
					</div>
				</div>
			</div>
			<div class="time-selector">
				<div name="starttime" id="starttime" class="i-txt"></div>
				TO
				<div name="stoptime" id="stoptime" class="i-txt"></div>
			</div>
			
			<div class="footer-bar">
				Home City&nbsp;<div class="add-city-icon pull-right" ng-click="foo()"><b>+</b> Add City</div>
			</div>
		</div>		
		<script type="text/javascript" src="assets/js/lib/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="assets/js/lib/cordova-2.3.0.js"></script>
		<script type="text/javascript" src="assets/js/lib/iscroll.js"></script>
		<script type="text/javascript" src="assets/js/lib/date.js"></script>
		<script type="text/javascript" src="assets/js/lib/mobiscroll-2.3.1.custom.min.js"></script>
		<script type="text/javascript" src="assets/js/lib/jquery.slider.min.js"></script>
		<script type="text/javascript" src="assets/js/lib/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/utils.js"></script>		
	
		<script type="text/javascript" src="assets/js/app.js"></script>
	</body>
</html>