@font-face {
  font-family: roboto-r;
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: roboto-l;
  src: url(fonts/Roboto-Light.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: roboto-c;
  src: url(fonts/Roboto-Condensed.ttf);
  font-weight: bold;
  font-style: normal;
}
body {
	background-color: #000000;
	width: 100%;
	margin:0;
	padding:0px;
	font-family: "roboto-l";
	overflow: hidden;
}
.container {
	width: auto;
}
.added-homecity-block {
	display: block;
	/*position: fixed;
	left: 0;
	right: 0;
	top: 0;*/
	border-bottom: 1px solid #b2e6ae;
	background-color:#31b6e7;
	color: #ffffff;
	margin: 5px 10px;
}
.added-homecity-block .city-name {
	font-family: "roboto-c";
	background-color: #000000;
	border-bottom: 1px solid #5d5d5d;
	padding:6px 0px 10px 0px;
	font-size: 150%;
}
.country-label {
	font-size: 70%;
	margin-top: -5px;
}
.android-ics .dwwo {	
	background: linear-gradient(#000000 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#000000 100%) !important;
	background: -webkit-gradient(linear,left bottom,left top,from(#000000),color-stop(0.52,rgba(40,40,40,0)),color-stop(0.48,rgba(40,40,40,0)),to(#000000)) !important;
	background: -moz-linear-gradient(#000000 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#000000 100%) !important;
	background: -o-linear-gradient(#000000 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#000000 100%) !important;
}
.gmt-label {
	font-size: 50%;
	font-family: "roboto-r";
	margin-top: -10px;
}
.added-timezone-blocks {
	
	overflow-y: scroll;
	padding-bottom:45px; 
	overflow-x:hidden;
	/*height: auto;
	position: fixed;
	left: 0;
	right: 0;
	margin-top: 250px;*/
	width: auto;
}
.added-timezone-block {
	margin:5px;
	background-color:#93e2da;
	color: #000000;
}
.clear {
	clear: both;
}
.city-name {
	display: block;
	padding:10px 10px;
	font-size: 120%;
	background-color: #b2e6ae;
}
.current-time {
	float: right;
	margin-top: -15px;
	z-index: 1000;
}
.time {
	width: 240px;
	text-align: center;
	display: inline-block;
	padding: 10px 10px;
	font-size: 30px;
}
.time-block {
	/*font-family: "roboto-r";*/
	word-spacing: -4px;
}
.footer-bar {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(36,36,36,.7);
	color: #ffffff;
	padding: 10px;
}
.AM {
	background-color: #efefef;
	color: #444444;
	border: 1px solid #333333;
}
.PM {
	background-color: #333;
	color: #ffffff;
	border: 1px solid #333333;
}
.i-txt {
	display: inline-block;
}
#starttime {
	float: left;
}
#stoptime {
	float: right;
}
.time-selector {
	background-color: #000000;
	display: block;
	/*position: fixed;
	margin-top: 60px;
	top: 55px;
	left: 0;
	right: 0;*/
	text-align: center;
	vertical-align: middle;
}
.android-ics .dw {
	padding: 0;
	color: #31b6e7;
	background: #000 !important;
	border-top: 1px solid #000 !important;
}
.pull-right {
	float: right;
}
.android-ics .dwhl {
	padding: 1px 0px;
}
.android-ics .dw .dwwol {
	border-top: 2px solid #b2e6ae;
	border-bottom: 2px solid #b2e6ae;
}
.dwwr {
	min-width: 80px !important;
	zoom: 1;
	padding: 0 10px;
	text-align: center;
}
.add-city-icon {
	background-color: #404042;
	padding: 3px 10px;
	cursor: pointer;
	display: inline-block;
}
.add-city-icon a {
	color: white;
	text-decoration: none;
}
.selected-true{
	background-color: yellow;
}
.ui-slider .ui-slider-handle {
	width: 10px;
}


/* Styles for overlay modal */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#overlay {
	display: none;
	/*border: 1px solid #eee;*/
	/*box-shadow: 0px 0px 5px #fff;*/
	background: rgba(36,36,36,1);
	color: white;
	width: 80%;
	padding: 10px;
	/*border-radius: 5px;*/
}

#cities-to-add {

	height:400px;
	overflow-y:scroll;
}

.modal-content ul {
	padding: 0px !important;
}
.modal-content li {
	list-style-type: none;
	padding: 10px 0px;
	border-bottom: 1px solid #2d2d2d;
}
.modal-content .modal-button {
	display: inline-block;
	padding: 5px;
	width: 60px;
	text-align: center;
	color: #000;
	/*border-radius: 2px;*/
	background-color: white;
}
.modal-title {
	border-bottom: 1px solid #5d5d5d;
	font-size: 130%;
	padding-bottom: 10px;
	font-family: 'roboto-l';
}
.list-gmt-offset {
	font-size: 80%;
	vertical-align: middle;
	font-family: 'roboto-l';
	margin-right: 10px
}
