@font-face {
  font-family: segoeui;
  src: url(fonts/Segoeui/segoeui.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: segoeui;
  src: url(fonts/Segoeui/seguisb.ttf);
  font-weight: bold;
  font-style: normal;
}
body {
	background-color: #000000;
	width: 100%;
	margin:0;
	padding:0px;
	/*zoom:150%;*/
	font-family: "segoeui";
}
.container {
	/*margin: auto;*/
	width: auto;
	/*border: 1px solid #ddd;*/
}
.city-input-field {
	margin: 10px;
}
.add-city-icon {
	
	
	/*margin-top: -10px;*/
}
.date-input {
	margin: 10px;
	width: 85%;
	padding:14px 10px;
	font-size: 20px; 
}
.add-icon {
	float: right;
	padding: 12px 20px;
	font-size: 20px;
	/*position: absolute;
	margin-left: 75%;
	top: 90px;
	right: 10%;*/
	margin-right: 24px;	
	margin-top: 10px;
}
.added-timezone-blocks {
	width: auto;
}
.added-timezone-block {
	margin:5px;
	/*background-color: #333;*/
	color: #ffffff;
}
.clear {
	clear: both;
}
.city-name {
	display: block;
	padding:10px 10px;
	font-size: 150%;
	/*width: 99%;*/
	background-color: #ff8800;
	/*margin-right: 10px;*/
}
.current-time {
	float: right;
	margin-top: -15px;
	z-index: 1000;
}
.time {
	/*float: right;*/
	width: 240px;
	text-align: center;
	display: inline-block;
	padding: 10px 10px;
	font-size: 30px;
	
}
.AM {
	background-color: #efefef;
	color: #444444;
	border: 1px solid #333333;
}
.PM {
	background-color: #333;
	color: #ffffff;
	border: 1px solid #333333;
}
.i-txt {
	display: inline-block;
}
#starttime {
	/*margin-left: 1%;*/
	float: left;
}
#stoptime {
	/*margin-right: 1%;*/
	float: right;
}
.time-selector {
	text-align: center;
	vertical-align: middle;
}
.android-ics .dw {
	padding: 0;
	color: #31b6e7;
	background: #000 !important;
	border-top: 1px solid #000 !important;
}
.pull-right {
	float: right;
}
.dwwr {
	min-width: 80px !important;
	zoom: 1;
	padding: 0 10px;
	text-align: center;
}