@font-face {
  font-family: roboto-r;
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: roboto-l;
  src: url(fonts/Roboto-Light.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: roboto-c;
  src: url(fonts/Roboto-Condensed.ttf);
  font-weight: bold;
  font-style: normal;
}
body {
	background-color: #000000;
	width: 100%;
	margin:0;
	padding:0px;
	font-family: "roboto-l";
}
.container {
	width: auto;
}
.added-homecity-block {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	border-bottom: 1px solid #5d5d5d;
	background-color:#31b6e7;
	color: #ffffff;
	margin: 5px 10px;
}
.added-homecity-block .city-name {
	font-family: "roboto-c";
	background-color: #000000;
	border-bottom: 1px solid #5d5d5d;
	padding:6px 0px 10px 0px;
	font-size: 150%;
}
.added-timezone-blocks {
	margin-top: 250px;
	width: auto;
}
.added-timezone-block {
	margin:5px;
	background-color:#93e2da;
	color: #000000;
}
.clear {
	clear: both;
}
.city-name {
	display: block;
	padding:10px 10px;
	font-size: 120%;
	background-color: #93e2da;
}
.current-time {
	float: right;
	margin-top: -15px;
	z-index: 1000;
}
.time {
	width: 240px;
	text-align: center;
	display: inline-block;
	padding: 10px 10px;
	font-size: 30px;
}
.time-block {
	font-family: "roboto-r";
	word-spacing: -4px;
}
.footer-bar {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(36,36,36,.7);
	color: #ffffff;
	padding: 10px;
}
.AM {
	background-color: #efefef;
	color: #444444;
	border: 1px solid #333333;
}
.PM {
	background-color: #333;
	color: #ffffff;
	border: 1px solid #333333;
}
.i-txt {
	display: inline-block;
}
#starttime {
	float: left;
}
#stoptime {
	float: right;
}
.time-selector {
	background-color: #000000;
	display: block;
	position: fixed;
	/*margin-top: 60px;*/
	top: 55px;
	left: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
}
.android-ics .dw {
	padding: 0;
	color: #31b6e7;
	background: #000 !important;
	border-top: 1px solid #000 !important;
}
.pull-right {
	float: right;
}
.android-ics .dwhl {
	padding: 1px 0px;
}
.dwwr {
	min-width: 80px !important;
	zoom: 1;
	padding: 0 10px;
	text-align: center;
}
.add-city-icon {
	background-color: #404042;
	padding: 3px 10px;
	cursor: pointer;
	display: inline-block;
}
.selected-true{
	background-color: yellow;
}
.ui-slider .ui-slider-handle {
	width: 10px;
}
